
.chat {
    flex: 1;
    width: 100%;
    position: relative;
}

.chat__wrapper {
    width: 95%;
    height: calc(100% - (25px + (2 * 20px) + 71px));
    display: flex;
    flex-flow: column;
    gap: 10px;
    margin: 0 auto;
    overflow-y: auto;
}

.chat__input {
    position: absolute;
    bottom: 0;
    height: 70px;
    width: 100%;
    background-color: var(--effect);
    border-radius: 10px;
    border-top: 1px solid var(--grey);
    display: flex;
    align-items: center;
}

.chat__choice {
    height: 100%;
    width: 20px;
    margin-left: 20px;
    display: flex;
    flex-flow: column;    
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.chat__choice--key {
    border: none;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background-image: url('../../public/redirect.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    cursor: pointer;
    transition: .3s;
}

.chat__choice--key:hover {
    background-image: url('../../public/redirect-hover.svg');
}

.up {
    transform: rotate(-90deg);
}

.down {
    transform: rotate(90deg);
}

.chat__choice--input {
    color: var(--grey);
    margin-left: 15px;
}

.chat__choice--send {
    width: 45px;
    height: 45px;
    background-color: var(--logo);
    position: absolute;
    right: 20px;
    border-radius: 50%;
    background-image: url('../../public/send.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 60% 60%;
    cursor: pointer;
    transition: all .3s;
}

.chat__choice--send:hover {
    opacity: .8;
}

.notice {
    margin: 0 auto;
    color: var(--grey);
    display: flex;
    justify-content: center;
    align-items: center;
}

.notice span {
    color: var(--logo);
    margin-left: 5px;
}