
.connect--holder {
    width: 100%;
    height: 150px;
    flex: 0 0 auto;
    /* display: flex;
    justify-content: space-between;*/
    display: grid;
    grid-template-areas: 
    'area1 area1 area3'
    'area2 area2 area3';
    gap: 10px;
}

.btn {
    background-color: var(--component);
    border-radius: 10px;
    border-top: 2px solid var(--effect);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    cursor: pointer;
    transition: all .3s;
}

.link {
    grid-area: area1;
}

.resume {
    grid-area: area2;
    background-color: var(--logo);
    border-top: 1px solid var(--grey);
}

.git {
    grid-area: area3;
}

.btn:hover {
    opacity: .8;
}
